<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" href="../static/css/vend/bootstrap.min.css">
		<script data-main="static/scripts/main" src="static/scripts/require.js"></script>
    <title>LCS Rankings</title>
	</head>
	<body>
		<h1>LCS Rankings (Week 1)</h1>
    <table id="main-table" class="tablesorter table-striped table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Total Actual Points (TAP)</th>
          <th>Total Projected Points (TPP)</th>
          <th>+/-</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in api_data.proPlayers %}
        {% if add_points(api_data.proPlayers[obj].statsByWeek) > 0 %}
          <tr>
            <th class="index"></th>
            <th>{{ api_data.proPlayers[obj].name }}</th>
            <th class="tap">{{ add_points(api_data.proPlayers[obj].statsByWeek) }}</th>
            <th class="tpp">{{ add_points(api_data.proPlayers[obj].statsByWeek, 'projectedValue') }}</th>
            <th class="eff"></th>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
	</body>
</html>